<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="http://sei-us.org/WaterResources">About</a></li>
        		<li><a href="/Tools">Tools</a></li>
        		<li><a href="/People">People</a></li>
    		</ul>
		</nav>
		<div class="container">
		
    		{{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="http://www.weap21.org/">WEAP website</a></li>
			</ul>
		</footer>
	</body>
</html>
